/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Galen's code */

/* Mobile/portrait-tablet display */
body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: url(images/bg-mobile.svg) hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2.4rem;
}

.logo {
  max-width: 10rem;
}

.illustration {
  margin-bottom: 3rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
}

main p {
  margin: 1rem 0rem 2rem 0rem;
}

button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  border-radius: 2rem;
  padding: .8rem 6rem;
  border-style: none;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6rem 0rem -1rem 0rem;
}

.icon {
  border-radius: 100%;
  border: 1px solid black;
  padding: .5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(211deg) brightness(106%) contrast(104%);
  margin: 0rem .5rem;
}

.icon:hover {
  filter: invert(55%) sepia(95%) saturate(2580%) hue-rotate(262deg) brightness(88%) contrast(98%);
}

.icon img {
  width: 1rem;
  height: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: -2rem;
  align-self: center;
}

.attribution a {
  color: hsl(300, 69%, 71%);
}

/* Landscape-tablet display */
@media (min-width: 900px) {
  body {
    text-align: left;
    padding: 2rem;
    background: url(images/bg-desktop.svg) hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    display: flex;
  }

  .illustration {
    margin: 3rem 2rem 0rem 1rem;
    max-width: 37rem;
    max-height: 27rem;
  }

  section {
    margin-top: 6rem;
    margin-left: 2rem;
    max-width: 29rem;
  }

  .share {
    justify-content: flex-end;
    margin-top: 9rem;
  }
}

@media(min-width: 1200px) {
  h1 {
    font-size: 2.2rem;
  }
}